@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap);
:root{
    /* Primary */

--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);

/* ### Neutral */

--Transparent-white: hsla(0, 0%, 100%, 0.75);
--Very-light-gray: hsl(0, 0%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--Very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
    /* font-family: 'Big Shoulders Display', cursive; */
}

html {
    font-size: 62.5%;
}

/* Container */

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sedan */

.sedan {
    width:20%;
    height: 60%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: var(--Bright-orange);
    padding: 2rem;
}

.sedan h1 {
    color: var(--Very-light-gray);
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
} 

.sedan .card-text{
    color: var(--Transparent-white);
    line-height: 2.4rem;
    font-size: 1rem;
    width: 140px;
    padding-bottom: 10rem;
}



/* Suv */

.suv {
    width: 20%;
    height: 60%;
    background-color: var(--Dark-cyan);
    padding: 2rem;
}


.suv h1 {
    color: var(--Very-light-gray);
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    
}

.suv .card-text{
    color: var(--Transparent-white);
    line-height: 2.4rem;
    font-size: 1rem;
    width: 140px;
    padding-bottom: 10rem;
    
}

/* Luxury */

.luxury {
    width: 20%;
    height: 60%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--Very-dark-cyan);
    padding: 2rem;
}

.luxury h1 {
    color: var(--Very-light-gray);
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
}


.luxury .card-text{
    color: var(--Transparent-white);
    line-height: 2.4rem;
    font-size: 1rem;
    width: 140px;
    padding-bottom: 10rem;
}


/* Learn More Button */

.sedan .btn{
    background-color: var(--Transparent-white);
    color: var(--Bright-orange);
    text-align: center;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    width: 65%;
}

.sedan .btn:hover{
    background-color: var(--Bright-orange);
    color: var(--Transparent-white);
    border: solid 1px var(--Transparent-white);
}

.suv .btn{
    background-color: var(--Transparent-white);
    color: var(--Dark-cyan);
    text-align: center;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    width: 65%;
}

.suv .btn:hover{
    background-color: var(--Dark-cyan);
    color: var(--Transparent-white);
    border: solid 1px var(--Transparent-white);
}

.luxury .btn{
    background-color: var(--Transparent-white);
    color: var(--Very-dark-cyan);
    text-align: center;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    width: 65%;
}

.luxury .btn:hover {
    background-color: var(--Very-dark-cyan);
    color: var(--Transparent-white);
    border: solid 1px var(--Transparent-white);
}
